
.admin-order-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-order-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 1rem; /* p-4에 해당 */
    border: 1px solid #dee2e6; /* border */
    border-radius: 0.4rem; /* rounded */
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* shadow-sm */
    background-color: white; /* 배경색 추가 */
}

.admin-order-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.admin-order-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.admin-order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    background-color: #343a40;
    color: white;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.admin-order-header span {
    /*flex: 1;*/
    margin: 5px 10px;
    /*text-align: center;*/
}

.admin-order-item.selected {
    border-color: #212529;
}

.admin-order-item.selected p {
    font-weight: bold;
}

.admin-order-item button {
    background-color: rgb(248 249 250);
    color: black;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-order-item button:hover {
    background-color: #343a40;
    color: white;
}

.admin-order-list {
    margin: 0 auto; /* 중앙 정렬 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    width: 960px;
}

.admin-order-item {
    display: flex; /* 플렉스 박스를 사용하여 정렬 */
    justify-content: space-between; /* 각 항목 사이에 여백 추가 */
    align-items: center; /* 수직 정렬 */
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.admin-order-item span {
    margin: 5px 10px;
}

.admin-order-details {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.admin-order-detail-item {
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 30px 10px;
    flex: 1;
    display: flex;
    justify-content: flex-start;
}
.admin-order-detail-item img {
    width: 50px;
    height: 50px;
    margin-right: 70px;
    margin-left: 10px;
}

.admin-order-detail-info {
    display: flex;
    align-items: center;
    width: 100%;

}
.admin-order-detail-info span{
    width: 100%;
}

.admin-order-detail-info span:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 20px 20px 0;
}

.admin-order-detail-totalPrice {
    /*flex: 1;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px 28px 20px 0;
}


.admin-order-search-input {
    padding-left: 10px;
    width: 200px;
    height: 35px;
    border: 1px solid #999;
    border-radius: 0.3rem;
}

.admin-order-search-input::placeholder {
    color: #999;
}

.admin-order-search-input:focus {
    border-color: #212121;
    border-width: 1px;
    outline: none;
}

.form-select {
    border-color: #999;
    outline: none;
}

.form-select:focus {
    border-color: #212121;
    border-width: 1px;
    box-shadow: none;
}
