.order-product-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  gap: 20px; 
  padding: 20px 0;
  position: relative;
}

.order-product-list{
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.order-product-item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -30px; /* 왼쪽으로 선을 확장 */
  width: calc(100% + 30px); 
  border-bottom: 1px solid #ddd;
}

.order-product-image {
  width: 100px; 
  height: auto;
}

.order-product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; 
  margin-left: 20px;
  width: 60%;
}

.order-product-price {
  font-size: 0.7rem;
  font-weight: 500;
}

.price-summary-item{
  font-size: 0.7rem;
  font-weight: lighter;
}

.order-product-name {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.order-product-quantity {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
  margin-left: 500px; 
}

.order-total-price {
  font-weight: 700;
  font-size: 0.9rem;
  text-align: right;
  margin-right: 10px; /* 오른쪽 끝으로 */
  margin-bottom: 20px;
  margin-top: 20px;
}

.order-membership,
.order-summary-title {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 20px;
  margin-top: 20px
}
.order-summary-title{
  margin-left: 40px;
}

.order-section-title{
  font-weight: 700;
  font-size: 0.9rem;
}

.final-price{
  font-weight: bold;
  font-size: 0.7rem;
}

.order-membership{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 14px;
}

.order-summary-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.order-membership {
  margin-top: 20px;
}
.order-summary-left{
  margin-top: 50px;
}

.order-membership span:last-child {
  font-weight: 700;
  font-size: 0.9rem;
}

.price-summary-item {
  display: flex;
  justify-content: space-between;
  width: 300px; 
  font-size: 0.8rem;
}

.price-summary-label {
  color: gray;
  font-weight: 300;
}

.order-section-title {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  display: block; 
  width: 100%;    
}

.total-price {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid black;
  padding-top: 10px;
}

.final-price {
  font-weight: bold;
  font-size: 1.0rem;
}
/*  */

.order-delivery-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40px;
}

.order-delivery-info label {
  display: block;
  font-weight: lighter;
  margin-bottom: 5px;
  font-size: 0.7rem;
}

.order-delivery-info input{
  width: 100%;
  padding: 10px;
  height: 30px; /* 입력창의 세로 폭 설정 */
  border: 1px solid #ddd;
  box-sizing: border-box; 
  border-radius: 0;
}

.order-delivery-info input,
.order-delivery-info textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.order-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.order-back-button, .order-submit-button {
  width: 50%;
  padding: 7px;
  font-size: 12px;
  text-align: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0;
}

.order-back-button {
  background-color: #f1f1f1;
  color: black;
}

.order-submit-button {
  background-color: black;
  color: white;
}