@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#totalPriceDisplay,
#discountedPriceDisplay {
    animation: fadeIn 0.5s ease-in-out; /* 애니메이션 추가 */
    transition: all 1.8s ease; /* 부드러운 전환 효과 추가 */
}

button {
    border: none; /* 테두리 제거 */
    background: transparent; /* 배경 투명하게 */
    cursor: pointer; /* 클릭 가능한 포인터 */
}


/* 페이드 아웃 애니메이션 */
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* 삭제될 때 적용되는 클래스 */
.fade-out {
    animation: fadeOut 0.5s forwards; /* 애니메이션 지속 시간 조정 */
}

/* 기본 스타일 */
.hvlo-delete-button {
    padding: 6px 10px; /* 기본 패딩 */
    border: none; /* 기본 테두리 제거 */
    background-color: transparent; /* 기본 배경 제거 */
    cursor: pointer; /* 커서를 포인터로 변경 */
    transition: padding 0.5s ease, background-color 0.5s ease; /* 패딩과 배경 색상에 대한 트랜지션 설정 */
    border-radius: 4px; /* 라운드 모서리 추가 */
}

/* 호버 효과 */
.hvlo-delete-button:hover {
    padding: 6px 10px; /* 호버 시 패딩 증가 */
    background-color: rgba(0, 0, 0, 0.1); /* 회색 배경 추가 */
}


.hvlo-back-button {
    padding: 8px 10px; /* 기본 패딩 조정 */
    border: none; /* 테두리 제거 */
    background-color: transparent; /* 배경 제거 */
    cursor: pointer; /* 커서 포인터로 변경 */
    transition: background-color 0.3s ease; /* 배경 색상 전환 효과 */
    border-radius: 5px;
}

.hvlo-back-button:hover {
    background-color: rgba(0, 0, 0, 0.1); /* 호버 시 배경 색상 추가 */
}

/* 클릭 범위 조정 */
.hvlo-back-button-container {
    display: inline-block; /* 클릭 범위 줄이기 위해 인라인 블록 설정 */
    margin-right: 10px; /* 오른쪽 여백 추가 (필요 시) */

}
