/*.gnb {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: auto;*/
/*    max-height: 800px;*/
/*    overflow-y: auto;*/
/*}*/

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 46px;
}

.container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.container li {
    margin-bottom: 7px;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.tapMark {
    font-size: 70%;
}
