.left-side-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 33px;
}

.left-side-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.left-side-container {
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.left-side-menu {
    margin-left: 33px;
}

.left-side-menu div {
    margin-bottom: 3px;
}


.tapMark {
    font-size: 70%;
}
