.comment-section {
    background-color: #f8f9fa;
}

.list-group-item {
    border: none;
    padding: 15px 10px;
    transition: background-color 0.2s ease;
    box-shadow: none; /* 그림자 제거 */
    background-color: transparent; /* 배경색 투명 (필요시) */
}

.list-group-item:hover {
    box-shadow: transparent;
    background-color: transparent;
}

.input-group input {
    border-right: none;
}

.input-group .btn {
    border-left: none;
}

input::placeholder {
    color: #ffffff;
}


textarea:focus {
    outline: none;
    box-shadow: none;
}