.user-reset-container {
    margin-top: 200px;
    position: relative;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-reset-container .card {
    width: 100%;
    background-color: #fff;
}

.user-reset-button {
    padding: 12px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.user-reset-button:hover {
    background-color: #333;
}