/* 모든 요소 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 리스트의 기본 스타일 제거 */
ul, ol {
  list-style: none;
}

/* 링크 기본 스타일 제거 */
a {
  text-decoration: none;
  color: black;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

