/* 리스트의 기본 스타일 제거 */
#root ul, ol {
  list-style: none;
}

/* 링크 기본 스타일 제거 */
#root a {
  text-decoration: none;
  color: black;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 30px 200px 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: space-between; /* 좌우로 요소들 분배 */
  width: 100%;
  min-height: 100vh; /* 페이지 전체 높이 */
}

.header {
  width: 200px; /* 고정 너비 */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* 브라우저 높이에 맞게 고정 */
  padding: 20px;
  box-sizing: border-box;
}